* {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

li,
ol {
    list-style: none;
}

/* header - start */

.pranav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.prenav .container {
    justify-content: space-around;
}

.searcher {
    width: 600px;
}

.logo {
    font-family: 'Lobster', cursive;
    color: #3cc3b5;
    font-size: 49px;
}

.container {
    /* border-right: 1px solid #000;
    border-left: 1px solid #000; */
}

.header-main {
    margin-top: 150px;
}
.header-btn{
    margin-top: 30px;
    
}